table {
    border-collapse: collapse;
    vertical-align:top;
    width: 100%;
    font-family: "Calibri", sans-serif;
    margin: auto;
}

body {
	font-family: "Calibri", sans-serif;
	max-width: 955px;
	margin: auto;
}

th {
    height: 40px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 6px;
}

img { 
	width:800px; 
	margin: auto;
	margin-left: 80px;
}

h1 {
	background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 8px;
}

h2 {
	background-color: #4CAF50;
    color: white;
    padding: 8px;
}

iframe {
	width: 400px;
	height: 450px;
	border:none;
}

.wrapper {
	margin-left: 80px;
	width: 800px;
}

.rightbar {
	float: left;
	width: 300px;
	border:none;
}

.leftbar {
	float: left;
	width: 500px;
	overflow:hidden;
	border:none;
}

.cleared {
	clear: both;
}

.logarea {
	height: 280px;
}

.centretext {
	text-align: center;
}

.introtext{
	
}

.sensorgroup {
	border-style: solid;
	border-color: #4CAF50;
}

.sensorgrouptitle {
	background-color: #4CAF50;
	color: white;
}	
